@import url(../../../node_modules/bootstrap/dist/css/bootstrap.min.css);

#calculator,
#quotation {
    overflow-x: scroll;
}

.load-table {
    width: 100%;
    margin: auto;
    overflow: scroll;
    cursor: pointer;
    border-radius: 5px;


}

.add-product {
    margin: 10px auto;
    max-width: 50%;
    text-align: center;

    button {
        width: 100%;
        border: none;
        outline: 0;
        border-radius: 6px;
        background-color: rgb(7, 5, 105);
        color: white;
        padding: 5px 0;
    }
}

.output {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;



    .adjustable-parameters {
        div {
            display: flex;
            flex-wrap: wrap;
            gap: 13px;
            align-items: center;
            padding: 4px 12px;

            .control-button {
                border: 1px solid rgba(214, 199, 199, 0.671);
                border-radius: 20px;
                background-color: rgb(7, 5, 105);

                strong {
                    color: white;
                    font-size: 17px;
                }

                button {
                    font-size: 12px;
                    padding: 5px;
                    padding: 4px 10px;
                    border-radius: 18px;


                }
            }

            button {
                outline: 0;
                border: 1px solid rgba(214, 199, 199, 0.671);
                background-color: white;
                color: rgb(14, 13, 48);


            }

            .change {
                padding: 4px 10px;
                margin-left: 6px;
                border-radius: 6px;
                color: white;
                background-color: rgb(14, 13, 48);


            }
        }
    }
}

.edit-list {

    td {


        & input {

            width: 140px;
            border-radius: 4px;
            outline: 0;
            border: 1px solid rgb(228, 218, 218);
            padding: 4px 12px;
        }

        &.action {
            display: flex;
            gap: 12px;

            button {
                border-radius: 4px;
                padding: 3px 10px;
                border: 1px solid rgb(134, 127, 127);

            }
        }

        button.action {
            width: 150px;
            border-radius: 4px;
            border: 1px solid rgb(134, 127, 127);


        }
    }
}

.pdf-button {
    text-align: center;

    button {
        padding: 5px;
        border-radius: 5px;
        color: white;
        width: 50%;
        outline: 0;
        border: none;
        background-color: rgb(7, 5, 105);
    }
}


.total-quote {
    width: 50%;
    margin: 30px auto;
    padding: 15px;
    // border: 1px solid red;
    box-shadow: 1px 1px 4px 1px rgb(171, 200, 207);
    // text-align: right;
    // text-align: ;


    .total {
        font-size: 20px;
        font-weight: bold;
    }
}

.quote-button {
    input {
        border-radius: 5px;
        padding: 2.5px 15px;

        outline: 0;
        border: 1px solid rgb(96, 145, 142);
    }

    button {
        margin-left: 12px;
        padding: 2.5px 15px;
        outline: none;
        border-radius: 5px;
        border: none;
        color: white;
        background-color: rgb(14, 13, 48);

    }
}

@media screen and (max-width:900px) {
    .total-quote {
        width: 100%;
    }
}